# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
*~

# IDE
.vscode/
.idea/
*.swp
*.swo

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory used by tools like istanbul
coverage/

# Temporary folders
tmp/
temp/

# System files
.CFUserTextEncoding
.config/
.cursor/
.docker/
.gitconfig
.lesshst
.local/
.n8n/
.netrc
.npm/
.viminfo
.zprofile
.zsh_history
.zsh_sessions/
.zshrc
.zshrc.swp

# User directories
Applications/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
